h1 {
    color: #800080;
    font-weight: 100;

}

img  {
    height: auto;
    width: 300px;
}
#tacodes {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.olist,
.ulist  {
    background-color: goldenrod;
    text-align: center;
    color: purple;
} 
 .ulist  {
     font-size: 50px;
 }
 .olist  {
     font-size: 25px;
 }
li  {
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 16px;
}

*   {
    color: purple;
    text-align: center;
    font-size: 36px;
}
